%h1 Log In
%ul
  = form_for @user, :url => sessions_path, :method => :post do |f|
    %li
      = f.label :email
    %li
      = f.text_field :email
    %li
      = f.label :password
    %li
      = f.password_field :password
    %li
      = f.submit