%ul
  = form_for @user do |user|
    %li 
      = user.label :username
      = user.text_field :username
    %li 
      = user.label :email
      = user.text_field :email
    %li 
      = user.label :password
      = user.password_field :password
    %li
      = user.label :password_confirmation
      = user.password_field :password_confirmation
    %li 
      = user.submit